*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#1f1f1e,#d39d08);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    
}

.contact-left-title h2{
    font-weight:600;
    color: linear-gradient(270deg,#5e5c5b,#252324);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background: linear-gradient(270deg,#5e5c5b,#252324);
    border-radius: 10px;
    margin-bottom: 20px
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#5e5c5b,#252324);
    cursor: pointer;

}

.contact-left button img{
    height: 15px;

}


@media (max-width:800px) {
    .contact-inputs{
      width: 80vw;
  }
  .contact-right{
    display: none;
  }
}

/* Sidebar */
.sidebar {
    position: fixed; top: 0;right: -100%; width: 25vw; height: 100vh;
    background: linear-gradient(135deg, #222, #333); color: white; transition: right 5s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 1000; text-align: center;
    background-image: url("20250330_032106_0000.png");   background-repeat: no-repeat; background-size: cover;background-position: center;
}

/* Sidebar Links */
.sidebar ul {
    list-style: none; width: 150%;
}.sidebar ul li { padding: 20px; transition: 0.3s;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.sidebar ul li:hover {
    background:  rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    
    
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.9s;
}

.close-btn:hover {
    color: rgb(2, 2, 2);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
    transition: 0.3s ease-in-out;
}

/* Menu Button */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #867b7b;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1001;
    
}

.menu-btn:hover {
    color: #555;
}

/* Open Sidebar */
.sidebar.open {
   left: 0;
}

.overlay.show {
    display: block;
}


@media (max-width: 500px) {
    .sidebar {
      width: 100vw; /* Full screen on small devices */
      
    }
}